
.about-content{
  width: 100%;
  max-width: 900px;
  padding: 50px 10px;
}

.about-content,
.grid-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.about-content h4{
  width: 100%;
}

.grid-about-item{
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 14px;
  align-items: center;
}

.grid-about-item:hover{
  background-color: #FFDF69;
}

.grid-item-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-item-content{
  font-size: 14px;
  font-weight: 700;
}

.footer-item-content{
  font-size: 12px;
}

.about-content-text{
  width: 100%;
  max-width: 900px;
}

.about-content-text p{
  font-size: 14px;
}

.about-section{
  padding: 30px 10px;
}

@media (min-width: 768px) {
  .about-content{
    gap: 30px;
  }

  .about-content h4{
    font-size: 18px;
  }

  .about-content-text p{
    width: 100%;
  }
  
  .grid-about-item{
    padding: 30px 20px;
  }

  .header-item-content{
    font-size: 16px;
  }

  .footer-item-content{
    font-size: 15px;
  }
  
  .about-content-text p{
    font-size: 15px;
  }
}

@media (min-width: 1280px) {

  .about-content h4{
    font-size: 20px;
  }

  .about-content p{
    text-align: left;
  }

  .grid-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .header-item-content{
    font-size: 17px;
  }

  .footer-item-content{
    font-size: 16px;
  }

  .about-content-text p{
    font-size: 16px;
  }

  .about-section{
    padding: 50px 0;
  }
}