.brand-video-panel {
    position: relative;
    z-index: 1;
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.brand-video-panel-hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.brand-video-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #8e8e8e;
    line-height: 1.2;
    font-family: var(--font-portfolio);
}

.brand-video-panel p {
    font-size: 14px;
    line-height: 1.6;
    color: #1D1D1B;
    padding: 0;
}

/* Version desktop */
@media (min-width: 1024px) {

    .brand-video-item .container {
        position: relative;
    }

    .brand-video-panel {
        position: absolute;
        top: 0;
        left: 0;
        padding: 35px 50px;
    }

    .brand-video-title {
        font-size: 48px;
    }

    .brand-video-panel p {
        font-size: 15px;
    }
}


@media (min-width: 1280px) {
    

    .brand-video-grid{
        grid-template-rows: repeat(5, 600px);
    }
    .brand-video-item, .brand-video-wrapper {
        height: 600px;
    }
    .brand-video-element{
        width: auto;
        height: 600px;
        object-fit: cover;
        object-position: center;
    }
}