.contact-section{  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 10px;
  background-color: #e9e9e9;
}

.contact-section .container{
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.grid-contact{
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  background: #FEE070;
  box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.grid-contact-item:first-child{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}

.grid-item-icon svg{
  width: 100%;
  height: 100%;
}

.grid-item-icon{
  width: 50px;
  height: 50px;
}

.grid-item-title{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}

.grid-item-title h1{
  font-style: italic;
}

.grid-item-title p{
  font-size: 12px;
}

@media (min-width:768px){
  .grid-item-icon{
    width: 60px;
    height: 60px;
  }
}

@media (min-width:1024px){
}

@media (min-width:1280px){
  .grid-contact{
    padding: 50px;
  }

  .contact-section{
    padding: 100px 10px;
  }
  
  .grid-item-icon{
    width: 120px;
    height: 120px;
  }


  .grid-item-title p{
    font-size: 16px;
  }
}
