.contact-title-container {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.contact-main-title {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-portfolio);
    line-height: 1.2;
    transition: color 0.3s ease;
    color: #ffffff;
}

.animated-letter {
    display: inline;
}

.hero-contactanos-container{
    height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-contactanos-container .container {
    width: 100%;
}

@media (min-width: 768px) {
    .contact-main-title {
        font-size: 64px;
    }
}

@media (min-width: 1024px) {
    .contact-main-title {
        font-size: 140px;
        font-weight: 500;
    }
    
    .contact-title-container {
        padding: 100px 0;
    }
}

