.contact-section{
  height: 100dvh;
  background: url(/assets/contact/contact-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid-cotntact-item{
  display: flex;
  justify-content: center;
  align-items: center;
}