.container.grid-content{
  width: 100%;
  max-width: 100%;
}

.grid-content > .grid-item-service:first-child{
  padding: 50px 20px 30px;
}

.grid-content > .grid-item-service:last-child{
  padding: 0;
}

.grid-content{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagonal-invertida{
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
}

.diagonal:not(.diagonal:last-child){
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  background-color: #fed332;
  z-index: 999;
  margin-top: -60px;
}

.diagonal:last-child{
  margin-top: -60px;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}

.diagonal-invertida{
  margin-top: -25px;
  overflow: hidden;
}

.grid-item-service{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.grid-item-service h2{
  font-size: 17px;
}

.grid-item-service p{
  font-size: 12px;
}

.grid-item-service img{
  width: 100%;
  border: none;
}

.values-section{
  height: 100%;
  min-height: 900px;
  padding: 80px 10px;
}

@media (min-width: 768px) {
  .grid-content > .grid-item-service:first-child{
    width: 100%;
    max-width: 70%;
    padding: 70px 20px 30px;
  }

  .grid-item-service h2{
    font-size: 20px;
  }

  .grid-item-service p{
    font-size: 15px;
  }

  .diagonal-invertida{
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 80%);
  }

  .diagonal:not(.diagonal:last-child){
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  }

  .diagonal:last-child{
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 100%);
    margin-top: -180px;
  }

  .diagonal,
  .diagonal-invertida{
    margin-top: -50px;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {  
  .diagonal-invertida .grid-content,
  .diagonal-invertida .grid-content,
  .diagonal-invertida .grid-content {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 0;
  }

  .diagonal .grid-content,
  .diagonal .grid-content {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 0;
  }
  
  .grid-item-service:nth-child(1) {
    order: 1;
  }
  .grid-item-service:nth-child(2) {
    order: 2;
  }

  .diagonal:nth-of-type(2) .grid-item-service:nth-child(1),
  .diagonal:nth-of-type(4) .grid-item-service:nth-child(1) {
    order: 2;
  }

  .diagonal:nth-of-type(2) .grid-item-service:nth-child(2),
  .diagonal:nth-of-type(4) .grid-item-service:nth-child(2) {
    order: 1;
  }

  .grid-content > .grid-item-service:first-child{
    max-width: 100%;
    padding: 50px;
  }

  .diagonal-invertida{
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 80%);
  }

  .diagonal:not(.diagonal:last-child){
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  }

  .diagonal:last-child{
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }

  .grid-item-service h2{
    font-size: 20px;
  }

  .grid-item-service p{
    font-size: 15px;
  }

  .diagonal-invertida,
  .diagonal{
    margin-top: -90px;
  }

  .diagonal:last-child{
    margin-top: -170px;
  }
}

@media (min-width: 1280px) {

  .diagonal-invertida,
  .diagonal{
    margin-top: -115px;
  }
}

