.footer{  
  background-color: #d9d9d9;
}

.footer-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 60px;
  padding: 50px 10px;
}

.footer-grid-item{
  width: 100%;
}

.footer-grid-item:first-child,
.footer-grid-item:nth-child(2) .social-icons{
  display: none;
}

.footer-grid-item:nth-child(2){
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
}

.footer-menu ul{
  list-style: none;
}

.footer-menu ul li{
  margin-bottom: 5px;
}

.footer-menu ul li a span{
  font-size: 14px;
  color: #1d1d1b;
  font-weight: 300;
  text-decoration: none;
}

.footer-menu{
  padding-top: 16px;  
}

.footer-menu::before{
  content: '';
  width: 85%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d1d1b;
}

.footer-grid-item:nth-child(3){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 10px;
}

.footer-logo-img img{
  width: 100%;
}

.footer-logo-img{
  width: 150px;
}

.social-icons{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  gap: 5px;
}

.social-icons svg{
  width: 30px;
  height: 30px;
}

.footer .menu-item-content{
  font-size: 15px;
  margin-top: 0;
}

.footer .servicios-item{
  color: #1d1d1b;
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

.footer-menu .nav-menu-item .menu-item span  {
  color: #1d1d1b !important;
}

.menu-item{
  text-decoration: none;
  text-transform: capitalize;
}

@media (min-width:768px){
  .footer-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .footer-grid-item:nth-child(2){
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .footer-grid-item:nth-child(2) .social-icons,
  .footer-grid-item:nth-child(1){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .footer-menu::before{
    width: 100px;
  }
  .footer-grid-item:nth-child(3){
    display: none;
  }
}

@media (min-width:1024px){
  .footer-container{
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
  }
  .footer-menu ul li a span{
    font-size: 15px;
  }
  .footer-menu::before{
    width: 130px;
  }
  .footer .servicios-item{
    font-weight: 500;
  }
}

@media (min-width:1280px){
  footer{
    min-height: 180px;
    padding: 70px 0;
  }
    
  .footer-menu::before{
    width: 100px;
  }

  .footer-container{
    width: 1070px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-container .footer-grid-item:nth-child(2){
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  .footer-menu ul li a span{
    font-size: 16px;
    font-weight: 300;
  }

  .social-icons{
    gap: 15px;
  }

  .footer-logo-img{
    width: 180px;
  }
}
