.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 30px 0;
}

.container.footer-container{
  padding: 0;
}

.footer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}


.nav-menu-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.footer .footer-logo-img img{
  width: 150px;
}

.footer-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.footer-menu{
  padding-top: 20px;
  border-top: 1px solid #ffffff;
}

.footer-menu ul{  
  list-style: none;
}

.footer-menu-items a{
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: .2px;
  font-weight: 400;
}

.footer-menu-items a:hover{
  color: #ffffff;
}

.social-icons img{
  width: 10px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width:768px){
  .footer-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .footer-menu-items a{
    font-size: 14px;
  }

  .footer-container .footer-section:first-child{
    grid-column: 2;
  }

  .footer-container .footer-section:last-child{
    grid-row: 1;
  }  
}

@media (min-width:1024px){
  .footer-menu-items a{
    font-size: 15px;
  }
}

@media (min-width:1280px){
  .footer-menu-items a{
    font-size: 16px;
  }
}