#sib-form *,
#sib-form *::before,
#sib-form *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#sib-form input::placeholder,
#sib-form textarea::placeholder {
    color: #9e9e9e;
}

#sib-form input::-webkit-input-placeholder,
#sib-form textarea::-webkit-input-placeholder {
    color: #9e9e9e;
}

#sib-form input:-moz-placeholder,
#sib-form textarea:-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}

#sib-form input::-moz-placeholder,
#sib-form textarea::-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}

#sib-form input:-ms-input-placeholder,
#sib-form textarea:-ms-input-placeholder {
    color: #9e9e9e;
}

#sib-form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    -webkit-gap: 10px;
}

#sib-form input,
#sib-form textarea,
#sib-form select {
    font-family: inherit;
}

#sib-form input:not([type="checkbox"]) {
    width: 100%;
    height: 50px;
    padding: 0 10px;
}

#sib-form textarea {
    width: 100%;
    padding: 10px;
}

#sib-form button[type="submit"] {
    width: 130px;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    gap: 8px;
    -webkit-gap: 8px;
    padding: 0 20px;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-family: inherit;
}

#sib-form button[type="submit"]:hover {
    -webkit-transform: translateX(15px) scale(1.15);
    -moz-transform: translateX(15px) scale(1.15);
    -ms-transform: translateX(15px) scale(1.15);
    -o-transform: translateX(15px) scale(1.15);
    transform: translateX(15px) scale(1.15);
    font-weight: 500;
}

#sib-form button[type="submit"] svg {
    width: 20px;
    height: 20px;
}

.subtmit-container {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.phone-input {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.form__entry.entry_mcq label.entry__label{
    font-weight: 500;
}

.checkbox__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mcq-choices{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.entry__choice .input_replaced{
    width: 20px;
    height: 20px;
}

.entry__choice .input_replaced{
    width: 20px;
    height: 20px;
}

.entry__choice input[type="checkbox"]:active + .checkbox{
    color: aqua;
    background-color: brown;
}

@media (min-width: 768px) {
    #sib-form input,
    #sib-form textarea,
    #sib-form select {
        font-size: 15px;
    }

    #sib-form small {
        font-size: 13.5px;
    }
}

@media (min-width: 1024px) {
    #sib-form input,
    #sib-form textarea,
    #sib-form select {
        font-size: 16px;
    }

    #sib-form small {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    #sib-form input,
    #sib-form textarea {
        font-size: 16px;
    }
}
