.home-content p{
  text-align: center;
  font-size: 16px;
  text-align: start;
}

p{
  font-weight: normal;
  font-size: 16px;
}

.grid-services{
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
}

.service-section-row{
  width: 100%;
  border-top: 2px solid #ffffff;
}


.service-section-row:last-child{
  border-bottom: 2px solid #ffffff;
}

.title-grid{
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #2c2c2c;
  flex-wrap: nowrap;
}

.title-grid-hover{
  display: flex;
  gap: 6px;
  color: #000000;
}

.service-grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
  overflow-y: hidden;
  transition: background-color .2s ease-in-out;
}

.service-grid:hover{
  background-color: #FFDF69;
}

.hover-show{
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.title-grid.hover-show{
  font-weight: 400;
}

.content-text-grid p{
  font-weight: 500;
  font-size: 15px;
}

.service-grid:hover .hover-show{
  opacity: 1;
}

.service-grid::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 9999px;
  top: 50%;
  right: 20px;
  transition: all .2s ease-in-out;
  transform: translateY(-50%);
}

.service-grid:hover::after{
  opacity: 0;
}
.content-text-grid svg{
  display: none;
}


.service-section-row p{
  color: #222222;
  opacity: 0.6;
  font-size: 14px;
}

.hover-show p{
  padding-right: 40px;
  color: #000000;
}

.text-home{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  font-size: 17px;
}

.text-home p{
  font-size: 16px;
}

.grid-text{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-text-home{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.grid-text-home{
  background-color: #F5F5F5;
}

.grid-text-home:hover{
  background-color: #fed332;
}

.mobile-banner{
  display: block;
}

.desktop-banner{
  display: none;
}

.container.text-show-effect{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-grid-hover.hover-show{
  font-style: italic;
}

@media (min-width: 768px) {
  .home-content{
    height: 200px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .home-content p{
    width: 100%;
    font-size: 19px;
    text-align: left;
  }

  .text-show-effect *{
    font-size: 19px;
  }

  .mobile-banner{
    display: none;
  }

  .desktop-banner{
    display: block;
  }

  .desktop-banner img{
    width: 100%;
  }

  .title-grid{
    font-size: 16px;
  }

  .hover-show p{
    font-size: 16px;
  }

  .grid-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
  }

  .grid-text-home{
    height: 80px;
  }

  .text-home p{
    width: 700px;
    font-size: 18px;
  }

  .grid-text-home{
    font-size: 20px;
  }

  .social-post-container{
    height: 500px;
  }  
  .service-grid{
    padding: 20px 50px;
  }

  .bg-yellow div.container:nth-of-type(2) {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

}

@media (min-width: 1280px){  
  .home-content p{
    font-size: 28px;
  }

  .home-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: row;
    padding: 50px 0;
  }

  .home-content.text-post-hero{
    display: flex;
  }

  .container.text-post-hero{
    min-height: 300px;
  }

  .text-show-effect span{
    font-size: 20px;
  }

  .bg-yellow .container{
    padding: 50px 0;
  }

  .bg-yellow .container:first-child{
    grid-template-columns: 2fr 1fr;
  }

  .service-grid{
    height: 86px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
  }

  .content-text-grid svg{
    display: block;
    width: 40px;
    height: 40px;
  }

  .content-text-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
  }

  .services-text{
    font-size: 20px;
    max-width: 850px;
  }

  .bg-yellow div.container:nth-of-type(2) {
    grid-template-columns: 3fr 1fr;
    padding-bottom: 0px;
  }
  
  .title-grid{
    font-size: 22px;
  }

  .hover-show p{
    font-size: 18px;
  }

  .text-show-effect p{
    font-size: 24px;
  }

  .grid-text-home{
    font-size: 22px;
  }
}

@media (min-width: 1366px){  
  .home-content p{
    font-size: 34px;
  }
}