.home-content p{
  text-align: center;
  font-size: 16px;
  text-align: start;
}

p{
  font-weight: normal;
  font-size: 16px;
}

.grid-services{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-bottom: 50px;
}

.grid-row{
  width: 100%;
  padding: 20px 15px;
}

.grid-row{
  border-top: 2px solid #ffffff;
}

.grid-row:last-child{
  border-bottom: 2px solid #ffffff;
}

.title-grid{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #2c2c2c;
}

.title-grid-hover{
  color: #000000;
}

.hover-show{
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hover-show:hover{
  opacity: 1;
}

.grid-row p{
  color: #222222;
  opacity: 0.6;
  margin-top: 10px;
  font-size: 14px;
}

.header-grid::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 9999px;
  top: 7px;
  right: 0;
}

.text-home{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  font-size: 17px;
}

.text-home p{
  font-size: 16px;
}

.grid-text{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-text-home{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.grid-text-home:first-child, .grid-text-home:last-child{
  background-color: #F5F5F5;
}

.mobile-banner{
  display: block;
}

.desktop-banner{
  display: none;
}

.services-text{
  width: 100%;
  max-width: 320px;
}

.container.text-show-effect{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .home-content{
    height: 200px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .home-content p{
    font-size: 19px;
  }

  .text-show-effect *{
    font-size: 19px;
  }

  .mobile-banner{
    display: none;
  }

  .desktop-banner{
    display: block;
  }

  .desktop-banner img{
    width: 100%;
  }

  .services-text{
    max-width: 550px;
  }

  .grid-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
  }

  .grid-text-home{
    height: 80px;
  }

  .social-post-container{
    height: 500px;
  }
}