.full-container .diagonal-title{
  width: 100%;
  max-width: 420px;
  padding: 30px 20px 60px;
}

.title-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.diagonal-page-title .title-page{
  font-size: 24px;
  font-weight: 700;
}

.title-page .subtitle-page{
  font-weight: 400;
  color: #8E8E8E;
}

.diagonal-page-title{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: 9999;
}

.diagonal-page-title .content{
  width: 100%;
  max-width: 600px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .diagonal-title{
    padding: 70px 20px;
    max-width: 700px;
  }

  .diagonal-page-title .diagonal-title {
    width: 100%;
    max-width: 900px;
    padding: 50px 20px;
  }
  
  .diagonal-page-title .title-page{
    font-size: 24px;
  }

  .diagonal-page-title{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
}

@media (min-width: 1024px){
  .title-container{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }  
}

@media (min-width:1280px){
  .title-container{
    width: 900px;
    gap: 50px;
  }

  .diagonal-page-title{
    height: 300px;
  }

  .diagonal-title .diagonal-page-title{
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
  }
  
  .diagonal-page-title .title-page{
    font-size: 32px;
  }

  .diagonal-page-title .content{
    font-size: 15px;
  }
}

@media (min-width:1366px){
  .diagonal-title{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 80%);
    padding: 70px 20px;
  }

  .diagonal-title .container.page-title{
    width: 100%;
    min-width: 1700px;
    padding: 10px 30px;
  }
  
  .diagonal-page-title .content{
    max-width: 800px;
  }
}
