.diagonal-title{
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title .title-page{
  font-size: 28px;
  font-weight: 700;
}

.page-title .content{
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}


@media (min-width: 768px) {
  .diagonal-title{
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    padding: 70px 20px;
  }
  
  .page-title .title-page{
    font-size: 30px;
  }

  .page-title .content{
    font-size: 17px;
  }
}


@media (min-width:1280px){
  .diagonal-title .container.page-title{
    padding: 10px 30px;
  }
}

@media (min-width:1280px){
  .diagonal-title .container.page-title{
    padding: 10px 30px;
  }
}

@media (min-width:1366px){
  .diagonal-title .container.page-title{
    width: 100%;
    min-width: 1700px;
    padding: 10px 30px;
  }
  
  .page-title .content{
    max-width: 800px;
  }
}