.desarrollo-post{
  display: grid;
  justify-items: center;
}


.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: start
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit
}

.post-media-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 4/5;
  overflow: hidden;
  background: #eeeeee;
  border-radius: 20px;
}

.post-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  will-change: transform
}

.post-title {
  margin: 12px 0 0;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}

.post-card--featured .post-title {
  margin: 0
}


@media (min-width:768px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px
  }
}

@media (min-width: 1024px) {
  .post-grid {
    width: 100%;
    max-width: 955px;
    grid-template-columns: 4fr 5fr 4fr;
    gap: 40px;
    align-items: center;
  }

  .post-link{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
  }

  .post-title {
    font-size: 15px;
  }

  .desarrollo-post .post-title-section{
    font-size: 60px !important;
    font-weight: 600 !important;
    font-style: italic;
  }
}

@media (min-width: 1280px) {
  .post-grid {
    -ms-grid-columns: 2fr 3fr 2fr;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 30px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .post-title {
    font-size: 18px;
    padding: 0 10px;
  }
}