.social-post-container{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.publi-slider-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.publi-slide {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 0;
}

.publi-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 768px) {
  .publi-slide-item {
    height: 100%;
  }
  .social-post-container{
    gap: 20px;
    padding: 50px 0;
  }
  .social-post-container > p.text-show-effect span{
    font-size: 20px;
  }
  .publi-slider-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .social-post-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;    
    align-items: center;
  }
}
