.mobile-banner{
  display: block;
}

.desktop-banner{
  display: none;
}

.services .banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

.services-link-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}

.secondary-font{
  font-family: var(--subtitle-font);  
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
}

.services-title{
  font-weight: normal;
  font-family: var(--font-portfolio);
  font-size: 24px;
}

.grid-services{
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 0 0 50px;
}

.service-section-row{
  width: 100%;
  border-top: 2px solid #ffffff;
  text-decoration: none;
}

.service-section-row:last-child{
  border-bottom: 2px solid #ffffff;
}

.title-grid{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #2c2c2c;
}

.title-grid-hover{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 6px;
  color: #000000;
}

.service-grid{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px;
  overflow-y: hidden;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.service-grid:hover{
  background-color: #FFDF69;
}

.hover-show{
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.title-grid.hover-show{
  font-weight: 400;
}

.content-text-grid{
  color: #000000;
}

.content-text-grid p{
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.service-grid:hover .hover-show{
  opacity: 1;
}

.service-grid::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 9999px;
  top: 50%;
  right: 20px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-grid:hover::after{
  opacity: 0;
}

.content-text-grid svg{
  display: none;
}

.service-section-row p{
  color: #222222;
  opacity: 0.6;
  font-size: 14px;
}

.hover-show p{
  padding-right: 40px;
  color: #000000;
}

.title-grid-hover.hover-show{
  font-style: italic;
}

@media (min-width: 768px) {
  .mobile-banner{
    display: none;
  }

  .desktop-banner{
    display: block;
  }

  .desktop-banner img{
    width: 100%;
  }

  .service-grid{
    padding: 20px 50px;
  }

  .title-grid{
    font-size: 16px;
  }

  .hover-show p{
    font-size: 16px;
  }
}

@media (min-width: 1280px) {

  .services-text{
    font-size: 16px;
  }

  .secondary-font{
    font-size: 34px;
  }

  .services-title{
    font-size: 30px;
  }

  .service-grid{
    height: 86px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 450px 1fr;
    grid-template-columns: 450px 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .title-grid{
    font-size: 22px;
  }

  .content-text-grid svg{
    display: block;
    width: 40px;
    height: 40px;
  }

  .content-text-grid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 5px;
  }

  .hover-show p{
    font-size: 18px;
  }
}
