.title-container-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-page-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.title-page{
    font-size: 36px;
    color: white;
}

.service-subtitle-container{
    width: 100%;
}


.icon-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icon-container svg{
    width: 30px;
    height: 30px;
}





.service-areas-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.service-areas-container span{
    font-size: 13px;
    /* color: white; */
}