.values-section{
  height: 800px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: stretch;
}

.grid-item:first-child{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-item:first-child h2{
  font-size: 20px;
  font-weight: 600;
}

.grid-item:first-child p{
  font-size: 13px;
  line-height: 1.5;
}

.grid-item:last-child{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.grid-value-content{
  min-height: 100px;
  display: grid;
  grid-template-columns: 40px 1fr 30px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.icon-grid svg{
  width: 100%;
  height: 100%;
}

.grid-value-content .content-grid .title-item-content{
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
  display: flex;
}

.icon-content{
  width: 30px;
  height: 30px;
}

.icon-content svg{
  width: 100%;
  height: 100%;
}