:root {
  font-family: 'Montserrat', 'Poppins', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

*{
  position: relative;
}

body{
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;  
}

#root{
  overflow: hidden;
  background-color: #ffffff;
}

main {
  width: 100%;
  max-width: 100%;
}

img{
  min-width: 100%;
}

.full-container{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  max-width: 320px;
  padding: 20px 10px;
}

.medium-container{
  width: 95%;
}

.hover-y{
  font-weight: 900;
  transition: color .3s ease-in-out;
  cursor: none;
}

.bold{
  font-weight: 700;
}

.hover-y:hover,
.hover-y:hover a{
  color: #fed332;
  cursor: pointer;
}

p{
  color: #222222;
  font-size: 12px;
}

.bg-yellow{
  background-color: #fed332;
}

.mobile-banner{
  display: block;
}

.desktop-banner{
  display: none;
}

@media (min-width: 768px) {
  .container{
    padding: 0 50px;
  }
  .mobile-banner{
    display: none;
  }
  
  .desktop-banner{
    display: block;
  }
}

@media (min-width: 1024px) {
  .medium-container{
    width: 1140px;
  }
  .container{
    width: 100%;
    max-width: 1366px;
  }
}
